:root{
    --food-box-height: 200px;
}

#header {
    position: relative;
    color: #fff;
    background-color: green;
    height: 100px;
}

#header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#header li {
    list-style-type: none;
}

#content {
    margin: 0 auto;
    width: 40vw;
    height: 100vh;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content #food1 {
    height: var(--food-box-height);
    border: 5px solid black;
    width: 50%;
}

#content #food2 {
    height: var(--food-box-height);
    border: 5px solid black;
    width: 50%;
}

#content #food3 {
    height: var(--food-box-height);
    border: 5px solid black;
    width: 50%;
}