:root {
    --food-box-height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #ddd;
}

::-webkit-scrollbar-track {
    background-color: rgba(7, 216, 7, 0.692);
}

body {
    background-image: url('https://images.unsplash.com/photo-1604382354936-07c5d9983bd3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#header {
    position: relative;
    color: #fff;
    background-color: green;
    height: 100px;
    font-size: 48px;
}

#header .header-option {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100%;
    cursor: pointer;
    background-color: inherit;
    transition: .4s background-color;
}

#header .header-option:hover {
    background-color: lightgreen;
    transition: .4s all;
}

#header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 250px; */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
}

#header li {
    list-style-type: none;
}

[data-tab-content] {
    display: none;
}

[data-tab-content].active {
    display: block;
}

/* There should be content for when a list item is clicked */

#content {
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    padding-top: 30px;
    width: 900px;
    height: 1200px;
    background-color: rgba(190, 190, 190, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 200px;
}

#content h2 {
    font-weight: bold;
    font-size: 24px;
}

#content div:not(#home, #menu, #contact) {
    background-color: #fff;
    color: black;
}

#content h1 {
    text-align: center;
}

#content p {
    margin-top: 20px;
}

#content ul {
    text-align: center;
}

#content .food-div {
    height: var(--food-box-height);
    border: 5px solid black;
    border-radius: 15px;
    width: 500px;
    margin: 0 auto;
}


.food-div img {
    width: 100%;
    height: 100%;
}

.title {
    border: 5px solid black;
    border-radius: 15px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
}

.description {
    margin: 0 auto;
    padding: 20px;
    border: 5px solid black;
    border-radius: 15px;
    margin-top: 10px;
    width: 500px;
    height: max-content;
}

#location p {
    text-align: center;
}